.main-page {
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
  }

  .carousel .slide img {
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    object-fit: cover;
    /* interval: 500; */
  }

  .legend {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
